/*
 * Globals
 */


 html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0px !important;
  margin: 0px !important;
  color: #000;
}

body {
  /* display: flex; */
}
nav{
  /* background-color: #373277 !important; */
}

.alternateGrey{
  background-color: #f5f5f5; 
}