#logo-left{
 font-size: 25px;
 font-weight: 100;
 color:white;
}

#logo-right{
 font-size: 25px;
 font-weight: bolder;
 color:white;
}


.bg-blue{
    background-color: blue
}

.custom-padding{
    padding: 0px 3rem;
    /* border: 2px solid green; */ /*for debugging*/
}

.bg-white{
    background: white;
}