#logo-left {
    font-size: 25px;
    font-weight: 100;
    color: white;
}

#logo-right {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}


.bg-blue {
    background-color: blue
}

.custom-padding {
    padding: 0px 3rem;
    /* border: 2px solid green; */
    /*for debugging*/
}

.bg-white {
    background: white;
}

.bg-orange{
    background-color: orange;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 3rem 3rem;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette-heading {
    font-size: 35px;
  }

@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 3rem;
    }
  }