$bf: 25px
$hover-effect-color: #F2F2F2
$background-color: #10316b
$box-shadow: lightgrey

.custom-container
  height: 100vh
  display: flex
  align-items: center

.logo
  font-size: $bf
  color: white

#logo-left 
  @extend .logo
  font-weight: 100

#logo-right 
  @extend .logo
  font-weight: bolder
  
#dp
  border-radius: 5%

.bg-blue 
  background-color: $background-color

.bg-orange
  background: orange

.white-text
  color: white

.bg-white 
  background: white

.custom-padding
  padding: 0px 3rem

.featurette-divider
  margin: 3rem 3rem

.featurette-heading
  font-weight: 300
  line-height: 1
  letter-spacing: -.05rem


.featurette-heading
  font-size: 35px

.title
  font-size: 1.3rem

.footer
  @extend .bg-blue
  height: 120px
  color: white
  font-size: 1rem
  font-weight: bold
  a
    color: white
  
.hover-effect:hover
    background: $hover-effect-color
    color: $background-color
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 1s;

@media(max-width: 400px)
  .title
    font-size: 15px
    line-height: 15px


@media(max-width: 375px)
  .sm-font-heading
      font: 16px
      font-weight: 300
  
  .sm-font
      font-size: 14px


@media (min-width: 62em)
  .featurette-heading
    margin-top: 3rem
