/* Theme Colors */
:root {
    --primary-color: #FF0000;
    --secondary-color: #0055a5;
    --accent-color: #f5f5f5;
    --neutral-dark: #000000;
    --neutral-light: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--neutral-light);
    background: linear-gradient(270deg, #ffffff, #ebfeff);
    background-size: 200% 200%;
    animation: Gradient 10s infinite linear;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo-text {
    font-size: 36px;
    font-weight: 500;
}

.logo-text .itr {
    color: var(--primary-color);
}

.navbar {
    background-color: var(--accent-color);
}

.cta-container {
    margin-top: 50px;
}

.card {
    background-color: var(--accent-color);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shadow-elevation {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.elevated-button {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.elevated-button:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

h1,
h2,
.card-title {
    color: var(--secondary-color);
}

p,
.card-text {
    color: var(--neutral-dark);
}

/* Center align text in tables */
.table th,
.table td {
    text-align: center;
}


/* Additional styles for Medical Billing Page */

/* Hero Section */
.container.text-center.my-5 {
    padding: 50px 0;
}

/* Pricing Section */
#pricing {
    background-color: #ffffff;
    padding: 50px 20px;
}

#pricing h2,
#services h2,
#billing h2,
#contact h2 {
    margin-bottom: 30px;
}

/* Services Offered */
#services {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

/* Insurance Verification Service Benefits */
#benefits {
    background-color: #ffffff;
    padding: 50px 20px;
}

/* Insurance Billing & AR */
#billing {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

/* Insurance Billing / AR / Collections */
#collections {
    background-color: #ffffff;
    padding: 50px 20px;
}

address {
    font-style: normal;
    line-height: 1.5;
}

/* Open Dropdown on Hover */
.navbar-nav li:hover .dropdown-menu {
    display: block;
}

.custom-img-container {
    transition: transform 0.3s;
    overflow: hidden;
    /* Hide the rounded corners of the child image */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 15px;
    /* Adds some space on both sides of the image */
}

.custom-img-container:hover {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

.custom-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    /* Round the corners of the image */
}

/* Styling for "Why Choose Us" section */
.why-choose-us-container {
    background-color: #f6f8fa;
    padding: 50px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.why-choose-us-container h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.why-choose-us-container h4 {
    color: #0055a5;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.why-choose-us-container p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;
}

.why-choose-us-container .col-md-4 {
    padding: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;
}

/* navigation bar style */
.dropdown-menu li {
    position: relative !important;
    }
    .dropdown-menu .dropdown-submenu {
    display: none !important;
    position: absolute !important;
    left: 100% !important;
    top: -7px !important;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100% !important;
    left: auto !important;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block !important;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
  
  
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      
    .mobile-hide {
        display: block;
    }
    .mobile-show {
        display: none;
    }
/* Mobile Screen */

@media screen and (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
    /* Additional Safari-specific styles */
    @supports (-webkit-marquee-repetition:infinite) {
        /* Your Safari-specific styles here */
        .custom-img-container img {
            width: 100%;
            height: auto;
            -o-object-fit: cover;
               object-fit: cover;
            border-radius: 15px;
            /* Round the corners of the image */
        }
        
    }
}

/* iPhone SE 2020 */
@media only screen and (min-width: 375px) and (orientation: portrait)
{ /* Your Styles... */  
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
    .custom-img-container img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 15px;
    }
}