<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow-elevation">
    <div class="container">
        <a class="navbar-brand logo-text" href="index.html"><span class="itr">ITR</span>etina</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="it-services.html">IT Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Billing Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="billing-services.html">Overview</a>
                        <a class="dropdown-item" href="medical-billing.html">Medical Billing</a>
                        <a class="dropdown-item" href="dental-billing.html">Dental Billing</a>
                        <a class="dropdown-item" href="medical-billing-pricing.html">Pricing</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
