<!-- Calls to Action -->
<div class="container cta-container">
    <!-- {{ range .Pages }}
    {{/* The context, ".", is now each one of the pages as it goes through the loop */}}
    {{ printf "%#v" . }} 
{{ end }}-->
    <div class="row">
        <!-- IT Services -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-elevation">
                <div class="card-body">
                    <h2 class="card-title">IT Services</h2>
                    <p class="card-text">Custom software development, cloud services, IT support, and more.</p>
                    <a href= " {{"it-services" | relURL }}" class="btn btn-primary elevated-button">Explore Our IT
                        Solutions</a>
                </div>
            </div>
        </div>
        <!--Billing Services -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-elevation">
                <div class="card-body">
                    <h2 class="card-title">Billing Services</h2>
                    <p class="card-text">Efficient and reliable billing services for hospitals, clinics, and
                        doctors.</p>
                    <a href=" {{"billing-services" | relURL }}" class="btn btn-primary elevated-button">Discover Our
                        Billing Services</a>
                </div>
            </div>
        </div>
    </div>
</div>