<!-- Medical Billing Section -->
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Medical Billing: Expertise Meets Excellence</h2>
            <p>Empowering your medical practice with an experienced team that has been in the trenches with US
                doctors since 2013. Our commitment isn't just to ensure your bills are taken care of; it's about
                forging a partnership that boosts your revenue and elevates patient trust.</p>
            <h3>Key Highlights:</h3>
            <ul>
                <li>HIPAA Certified: Your data's safety is non-negotiable.</li>
                <li>Diverse Software Proficiency: From ModMed to AdvanceMD, we're well-versed.</li>
                <li>Comprehensive Service Suite: From claim submissions to revenue analysis, we've got it all covered.</li>
            </ul>
            <div class="text-center mt-3">
                <a href="medical-billing.html" class="btn btn-primary">Get More Info</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="custom-img-container">
                <img src="assets/billing-image-2.jpeg" alt="Medical Billing Services" class="img-fluid">
            </div>
        </div>
    </div>
</div>
